body {
	margin: 0;
}

img {
	width: 500px;
	max-width: 90%;
}
hr {
	width: 150px;
	max-width: 90%;
	align-content: left;
}


/* ––––––––––––––– single classes –––––––––––––––––––––––––––––––––––––––––––––––––––––– */





.delete {
	vertical-align: top;
	margin-left: -70px;	
	margin-top: 3px;
	/*box-shadow: 1px 1px 2px black;*/
}

.editSpacer {
	color: grey;
	font-size: 12px;
	font-weight: 40px;
	font-family: sans-serif;
	letter-spacing: 1px;
	padding-bottom: 0px;
	width: 550px;
	max-width: 90%;
	border-bottom: 1px solid lightgrey;
	margin: 6px 0 4px 0;
}
.layoutCenter {
	text-align: center;
}
.layoutLeft {
	text-align: left;
}
.fontSansSerif {
	font-family: sans-serif;
	font-weight: 100;
}
.fontMonoSpace {
	font-family: monospace;
}
.imageText {
}
.fontSizeXXXSml {
	font-size: 10px;
}
.fontSizeXXSml {
	font-size: 12.5px;
}
.fontSizeXSml {
	font-size: 15px;
}
.fontSizeSml {
	font-size: 17.5px;
}
.fontSizeMed {
	font-size: 22.5px;
}
.fontSizeLrg {
	font-size: 30px;
}
.fontSizeXLrg {
	font-size: 40px;
}
/*.marginSml {
	margin: 7.5px 11px 7.5px;
}
.marginMed {
	margin: 15px 25px 15px;
}
.marginLrg {
	margin: 25px 37.5px 25px;
}*/
.marginTopSml {
	padding-top: 0px;
}
.marginTopMed {
	padding-top: 5px;
}
.marginTopLrg {
	padding-top: 40px;
}
.marginLeftSml {
	padding-left: 0px;
}
.marginLeftMed {
	padding-left: 50px;
}
.marginLeftLrg {
	padding-left: 100px;
}
.marginImageSml {
	padding-top: 15px;
}
.marginImageMed {
	padding-top: 25px;
}
.marginImageLrg {
	padding-top: 35px;
}
.marginTextSml {
	padding-top: 15px;
}
.marginTextMed {
	padding-top: 25px;
}
.marginTextLrg {
	padding-top: 35px;
}

/* --------------- multiple classes ------------------------------------------------------ */


.fas.fa-paint-roller {
	float: right;
	opacity: .4;
}
.fas.fa-paint-roller:hover {
	opacity: .6;
}


/* ––––––––––––––– multiple classes –––––––––––––––––––––––––––––––––––––––––––––––––––––– */


#newImageText {
	color: grey;
	font-size: 11px;
	font-weight: 40px;
	font-family: sans-serif;
	letter-spacing: 0px;
}
#container {
	margin: 3% 0 10% 0;
}
#editGearClosed .fas.fa-paint-roller {
	opacity: .07;
	margin: -20px 5px 5px 5px;
	transition: .15s;
}
#editGearClosed .fas.fa-paint-roller:hover {
	opacity: .25;
	margin: -20px 5px 5px 5px;
	transition: .1s;
}
#editContainer {
	margin: 0;
	padding: 15px 20px 30px;
	line-height: 25px;
	background-color: rgba(0,0,0,0.03);
}
#imagePreview {
	width: 20px;
}
#editExplainer {
	float: right;
	margin-top: 5px;
}
#saveButton {
	float: right;
	margin-top: 5px;
}